<h3>Rxjs Operators</h3>

<h3>SwitchMap</h3>
<h4>Check console to output change everysecond </h4>

<h3>ConcatMap</h3>
<h4>When we know previous value complete after next value emit</h4>

<h3>MergeMap</h3>
<h4>WHen Each value is emmitted to inner observable value- when oder is not imp run parallel</h4>

<h3>ExhaustMap</h3>
<h4>It Ignores new Emissions When previous emissions in progress of running </h4>

<h3>ForkJoin</h3>
<h4>It Used to executes Multiple Observables in parallel and Emit a single Combined Result</h4>

<h3>Tap</h3>
<h4>Allow you to perform side effect for notification from source observables</h4>